<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
Hi <%= @user.first_name %>,

Thanks for registering! To confirm your registration click the URL below.

<%= link_to "Confirm your email", confirm_email_user_url(@user.confirm_token) %>
</body>
</html>